.Card {
  width: 300px;
  height: 500px;
  margin: 1rem;
  background: #181a1e;
  border: 1px solid transparent;
  border-radius: 10px;

  .img-wrapper {
    max-width: 100%;
    overflow: hidden;
    border-radius: inherit;

    img {
      width: 100%;
    }
  }

  .card-wrapper {
    padding: 1rem;
    color: rgb(212, 212, 212);

    .card-title {
      margin: 0;
    }
  }
}
